<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet"> 
    <title>Registro</title>

    <link rel="stylesheet" href="./style.css">
    
</head>
<body>
    <header class="header">
        <img class="header__img" src="./assets/img/logo-platzi-video-BW2.png" alt="Logo">
    </header>

    <section class="login">
        <section class="login__container">
            <h2>Regístrate</h2>
            <form class="login__container--form" action="">
                <input class="input" type="text" placeholder="Nombre">
                <input class="input" type="text" placeholder="Correo">
                <input class="input" type="password" placeholder="Contraseña">
                <button class="button">Resgistrarme</button>
            </form>
            <p class="login__container--register"><a href="">Iniciar sesión</a></p>
        </section>
    </section>

    <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayúda</a>
    </footer>
</body>
</html>